@mixin transform($property) {
  -moz-transform: $property;
  -webkit-transform: $property;
      -ms-transform: $property;
      -o-transform: $property;
          transform: $property;
}

#svg8 {
  width: 100%;
  height: 100%;
}