<ion-header>
  <ion-toolbar>
    <ion-title>
      BTIV Code Wheel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="root">
    <button type="button" label="C" (click)="rotateC()"></button>
    <div id="A" class="static">
      <img src="assets/A.png" alt="Wheel A">
    </div>
    <div id="B" class="spinner">
      <img src="assets/B.png" alt="Wheel B">
    </div>
    <div id="C" class="spinner">
      <img src="assets/C.png" alt="Wheel C">
    </div>
  </div>
</ion-content>